<div class="modal-bg bg-gray-700  bg-opacity-50 w-full h-full fixed top-0 flex items-center" [ngClass]="{'close': !modalActive}" (click)="dismissModal()">
</div>
<div class="w-full md:w-3/5 sm:w-3/5 lg:w-2/5 h-3/5 bg-black mx-auto modal rounded-xl" [ngClass]="{'close': !modalActive}">
  <div class="modal-header flex justify-between items-center p-4">
    <img src="" alt="">
    <img src="../../assets/imgs/logo.png" alt="" class="w-10">
    <button (click)="dismissModal()" ><img src="../../assets/imgs/close-dark.png" alt="" class="w-6 p-1 rounded-lg"></button>
    <!-- <img src="../../assets/imgs/close.png" alt="" class="w-6 m-2 border border-black p-1 rounded-lg hidden dark:block"> -->
  </div>
  <div class="modal-body h-full">
    @if (modalActive) {
      <app-login class="inline-block h-full w-full" (closeModal)="handleLoginEvent($event)"></app-login>
    }
  </div>
</div>
