.modal {
  position: fixed;
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal-bg {
  z-index: 1;
}

.close.modal {
  position: absolute !important;
  z-index: 1;
  width: 0 !important;
  height: 0 !important;
  transform: translate(-50%, -50%);
}
.close.modal-bg {
  opacity: 0;
  z-index: -2;
}
.modal-bg,
.modal {
  transition: 0.3s ease-in-out !important;
}
