<div class="container mx-auto mt-12 flex justify-between w-full">
  <div>
    <img src="../../../assets/imgs/boy.png" alt="" class="w-32">
    <h2 class="dark:text-gray-50 text-xl mt-4">{{user.first_name}} {{user.last_name}}</h2>
  </div>
  <div class="w-3/4">
    <table class="border-collapse border border-slate-500 w-full">
      <thead>
        <tr>
          <th class="border border-slate-600 dark:text-gray-50 p-4">Order</th>
          <th class="border border-slate-600 dark:text-gray-50 p-4">Date</th>
          <th class="border border-slate-600 dark:text-gray-50 p-4">Status</th>
          <th class="border border-slate-600 dark:text-gray-50 p-4">Total</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="border border-slate-700 dark:text-gray-50 p-4">Indiana</td>
          <td class="border border-slate-700 dark:text-gray-50 p-4">Indianapolis</td>
          <td class="border border-slate-700 dark:text-gray-50 p-4">Indianapolis</td>
          <td class="border border-slate-700 dark:text-gray-50 p-4">Indianapolis</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
