li.drop-down {
  position: relative;
  .drop-active {
    position: absolute;
    inset: 0px auto auto 0px;
    margin: 0px;
    top: 0;
    left: 0;
    transform: translate(-8%, 18%);
    @media (max-width: 767px) {
      left: 50%;
      transform: translate(-30%, 18%);
    }
  }
}
.cart {
  position: relative;
  .cart-count {
    position: absolute;
      width: 20px;
      height: 20px;
      text-align: center;
      top: 0;
      right: 0;
      transform: translate(35%, -35%);
      font-size: 12px;
      @media (max-width: 767px) {
        transform: translate(-8%, -8%);
      }
  }
}
