::ng-deep {
  .owl-next {
    position: absolute;
    background: transparent !important;
    font-size: 48px !important;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    color: #c2410c !important;
  }
  .owl-prev {
    position: absolute;
    background: transparent !important;
    font-size: 48px !important;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    color: #c2410c !important;
  }
  .text-holder {
    position: absolute;
    top: 25%;
    left: 25%;
    transform: translate(-50%, -50%);
    @media (max-width: 1025px) {
      position: absolute;
      top: 44%;
      left: 38%;
      transform: translate(-50%, -50%);
    }
  }
  a.button {
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translate(-50%, -50%);
    @media (max-width: 1025px) {
      position: absolute;
      top: 70%;
      left: 60%;
      transform: translate(100%, -25%);
    }
    @media (max-width: 600px) {
      top: 85%;
      left: 0;
    }
  }
}

img {
  display: block !important;
  width: 100% !important;
}
img.mobile {
  display: none !important;
  @media(max-width: 600px) {
    display: block !important;
  }
}
img.big-screen {
  display: block !important;
  @media(max-width: 600px) {
    display: none !important;
  }
}
